.App {
  text-align: center;
  font-weight: bold;
  color: black;
}

.HomeApp {
  text-align: center;
  width: 1200px;
  color: white;
}

.footer {
  text-align: center;
  background-color: #343a40;
  margin: auto;
  width: 1200px;
  color: white;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  text-align: center;
}

.App-link {
  color: #09d3ac;
}

.createApp{
  text-align: center;
  font-weight: bold;
  margin: auto;
  width: 50%;
  color: white;
}

.background{
  background-color: black;
}

.modalShow{
  margin: auto;
  width: 100%;
  color: black;
}

.mr-auto{
  margin: auto;
  width: 500px;
  color: black;
  font-weight: bold;
  font-size: 15px;
}